{% extends "base.html" %}

{% block content %}
        <table class="table table-bordered">
            <th class="table-head">Project Name</th>
            <th class="table-head">Description</th>
            <th class="table-head">Completed?</th>
            <th class="table-head">Team</th>
            {% for project in projects %}
                <tr class="table-row">
                    <td>{{ project.project_name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.completed }}</td>
                    <td>{{ project.team.team_name }}</td>
                    <td> <button type="button" class="btn btn-danger">Delete</button> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}